<div class="wrap">
    <div class="app-hero-header d-flex align-items-center">
        <!-- Breadcrumb starts -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
                <a routerLink="/home">{{'Home' | translate}}</a>
            </li>
            <li class="breadcrumb-item text-primary" aria-current="page">
                {{'Branch List' | translate}}
            </li>
        </ol>
        <!-- Breadcrumb ends -->
    </div>
    <div class="app-body">
        <div class="col-12 gx-3">
            <h3>{{'Branch List' | translate}}</h3>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <label class="form-label filterLabel">{{'Search' | translate}}:</label>
                        <input type="text" class="form-control "  (keyup)="onSearchKey($event)" id="searchd">
                    </div>
                    <div class="col-10 align-self-end text-end">
                        <button routerLink="/branch" class="btn btn-primary">{{'Add Branch' | translate}}</button>
                    </div>
               </div>
            </div>
        </div>

        <div class="row gx-3">
            <div class="col-sm-12 col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-outer">
                            <div class="table-responsive">
                                <table class="table truncate m-0">
                                    <thead>
                                        <tr>
                                            <th>{{'Organization' | translate}}</th>
                                            <th>{{'Code' | translate}}</th>
                                            <th>{{'Name' | translate}}</th>
                                            <th>{{'CrNo' | translate}}</th>
                                            <th>{{'Vat RegNo' | translate}}</th>
                                            <th>{{'Action' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let item of branchData | paginate: { itemsPerPage: itemsPerPage , currentPage: p, totalItems: totalItems } ">
                                            <td>{{item.organizationName || 'N/A'}}</td>
                                            <td>{{item.branchCode || 'N/A'}}</td>
                                            <td>{{item.branchName || 'N/A'}}</td>
                                            <td>{{item.crNo || 'N/A'}}</td>
                                            <td>{{item.vatRegNo || 'N/A'}}</td>
                                            <td class="p-1">
                                                <a class="btn btn-outline-success btn-sm table-btn" data-bs-placement="bottom" title="Edit" data-bs-toggle="tooltip" routerLink="/branch/{{item.branchId}}">
                                                    <i class="ri-edit-box-line"></i>
                                                </a>
                                                <a class="btn btn-outline-info btn-sm table-btn" data-bs-placement="bottom" title="View" data-bs-toggle="tooltip" (click)="onView(item)">
                                                    <i class="ri-eye-line"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr *ngIf="notFound == true">
                                            <td>{{'Data Not Found' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagi border-top p-2 mt-2 pb-0 row m-0 align-content-center">
                                    <div class="col-6">
                                        <div class="mr-auto">
                                            {{'Items per Page'| translate}}:
                                            <select (change)="handlePageSizeChange($event)">
                                                <option *ngFor="let size of pageSizes" [value]="size">
                                                    {{ size }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6  text-end">
                                        <pagination-controls (pageChange)="getPage(p = $event)"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-view" tabindex="-1" aria-labelledby="exampleModalXlLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalXlLabel">
                                            {{'Branch Details' | translate}}
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row gx-3 mt-1" *ngIf="isModal == true">
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Organization' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.organizationName" name="organizationName" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Code' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.branchCode" name="branchCode" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Name' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.branchName" name="branchName" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a4">{{'NameL' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.branchNameL" name="branchNameL" class="form-control" id="a4">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a2">{{'CrNo' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.crNo" name="crNo" class="form-control" id="a2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a2">{{'Vat RegNo' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.vatRegNo" name="vatRegNo" class="form-control" id="a2">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'CCHI RegNo' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.cchiRegNo" name="cchiRegNo" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'CCHI Expiry Date' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.cchiExpiryDate" name="cchiExpiryDate" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'NPhies' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.nPhiesId" name="nPhiesId" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a4">{{'fhirGUID' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [value]="modalData.fhirGUID ?? 'N/A'" name="fhirGUID" class="form-control" id="a4">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a2">{{'Image Path' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [value]="modalData.imagePath || 'N/A'" name="imagePath" class="form-control" id="a2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a2">{{'Toll Free' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [value]="modalData.tollFree ?? 'N/A'" name="tollFree" class="form-control" id="a2">
                                                    </div>
                                                </div>
                                            </div>      
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Logo Display' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [value]="modalData.logoDisplay || 'N/A'" name="logoDisplay" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a4">{{'Logo Report' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [value]="modalData.logoReport || 'N/A'" name="logoReport" class="form-control" id="a4">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a2">{{'Logo Other' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [value]="modalData.logoOther || 'N/A'" name="logoOther" class="form-control" id="a2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a2">{{'Parent Branch' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [value]="modalData.parentBranchId ?? 'N/A'" name="parentBranchId" class="form-control" id="a2">
                                                    </div>
                                                </div>
                                            </div>                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>