<div class="wrap">
    <div class="app-hero-header d-flex align-items-center">
        <!-- Breadcrumb starts -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
                <a routerLink="/home">{{'Home' | translate}}</a>
            </li>
            <li class="breadcrumb-item text-primary" aria-current="page">
                {{'Employee List' | translate}}
            </li>
        </ol>
        <!-- Breadcrumb ends -->
    </div>

    <div class="app-body">
        <div class="col-12 gx-3">
            <h3>{{'Employee List' | translate}}</h3>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <label class="form-label filterLabel">{{'Search' | translate}}:</label>
                        <input type="text" class="form-control "  (keyup)="onSearchKey($event)" id="searchd">
                    </div>
                    <div class="col-10 align-self-end text-end">
                        <button routerLink="/employee" class="btn btn-primary">{{'Add Employee' | translate}}</button>
                        <!-- @if(aclArr.includes('ADD') == true) {
                            <button routerLink="/department" class="btn btn-primary ">{{'Add Department' | translate}}</button>
                        } -->
                    </div>
               </div>
            </div>
        </div>

        <div class="row gx-3">
            <div class="col-sm-12 col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-outer">
                            <div class="table-responsive">
                                <table class="table table-truncate m-0">
                                    <thead>
                                        <tr>
                                            <th>{{'Employee No' | translate}}</th>
                                            <th>{{'First Name' | translate}}</th>
                                            <th>{{'Last Name' | translate}}</th>
                                            <th>{{'Gender' | translate}}</th>
                                            <th>{{'DOB' | translate}}</th>
                                            <th>{{'Mobile' | translate}}</th>
                                            <th>{{'Action' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of employeeData | paginate: { itemsPerPage: itemsPerPage , currentPage: p, totalItems: totalItems } ">
                                            <td>{{item.employeeNo || 'N/A'}}</td>
                                            <td>{{item.firstName || 'N/A'}}</td>
                                            <td>{{item.lastName || 'N/A'}}</td>
                                            <td>{{item.gender || 'N/A'}}</td>
                                            <td>{{item.dob | date:'dd/MM/YYYY'}}</td>
                                            <td>{{item.mobile || 'N/A'}}</td>
                                            <td class="p-1">
                                                <a class="btn btn-outline-success btn-sm table-btn" data-bs-placement="bottom" title="Edit" data-bs-toggle="tooltip" routerLink="/employee/{{item.employeeId}}">
                                                    <i class="ri-edit-box-line"></i>
                                                </a>
                                                <a class="btn btn-outline-info btn-sm table-btn" data-bs-placement="bottom" title="View" data-bs-toggle="tooltip" (click)="onView(item)">
                                                    <i class="ri-eye-line"></i>
                                                </a>
                                                <!-- <a class="btn btn-outline-danger btn-sm table-btn" data-bs-toggle="modal" href="#">
                                                    <i class="ri-delete-bin-line"></i>
                                                </a> -->
                                            </td>
                                        </tr>
                                        <tr *ngIf="notFound == true">
                                            <td>{{'Data Not Found' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagi border-top p-2 mt-2 pb-0 row m-0 align-content-center">
                                    <div class="col-6">
                                        <div class="mr-auto">
                                            {{'Items per Page'| translate}}:
                                            <select (change)="handlePageSizeChange($event)">
                                                <option *ngFor="let size of pageSizes" [value]="size">
                                                    {{ size }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6  text-end">
                                        <pagination-controls (pageChange)="getPage(p = $event)"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-view" tabindex="-1" aria-labelledby="exampleModalXlLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalXlLabel">
                                            {{'Employee Details' | translate}}
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row gx-3 mt-1" *ngIf="isModal == true">
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Employee No' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.employeeNo" name="employeeNo" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Title Code' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.titleCode" name="titleCode" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Title' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.title" name="title" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'First Name' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.firstName" name="firstName" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Middle Name' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.middleName" name="middleName" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a4">{{'Last Name' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.lastName" name="lastName" class="form-control" id="a4">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'First Name1' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.firstNameL" name="firstNameL" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Middle Name1' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.middleNameL" name="middleNameL" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Last Name1' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.lastNameL" name="lastNameL" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a4">{{'Gender' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.gender" name="gender" class="form-control" id="a4">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'DOB' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.dob" name="dob" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Marital Status Code' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.maritalStatusCode" name="maritalStatusCode" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Marital Status' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.maritalStatus" name="maritalStatus" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Mobile' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.mobile" name="mobile" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'National Type' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.nationalIdType" name="nationalIdType" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-3 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a4">{{'National' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.nationalId" name="nationalId" class="form-control" id="a4">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Nationality' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.nationality" name="nationality" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-3 col-lg-2 col-sm-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="a1">{{'Remarks' | translate}}</label>
                                                    <div class="input-group">
                                                        <input type="text" disabled [(ngModel)]="modalData.remarks" name="remarks" class="form-control" id="a1">
                                                    </div>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>